
<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="table">
    <table class="table table-hover m-0">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>uppercase & lowercase</th>
        <th></th>
      <th></th>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase <a target="_blank" href="https://angular.io/api/common/UpperCasePipe">(Info)</a></td>
          <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase <a target="_blank" href="https://angular.io/api/common/LowerCasePipe">(Info)</a></td>
          <td>{{nombre | lowercase}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>slice <a target="_blank" href="https://angular.io/api/common/SlicePipe">(info)</a></th>
        <th></th>
      <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>slice: 3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:3</td>
          <td>{{nombre | slice:0:3}}</td>
        </tr>
        <tr>
          <td>{{arreglo}}</td>
          <td>slice:1:5</td>
          <td>{{arreglo | slice:1:5}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>number/decimal <a target="_blank" href="https://angular.io/api/common/DecimalPipe">(info)</a></th>
        <th></th>
      <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{PI}}</td>
          <td>number</td>
          <td>{{PI | number}}</td>
        </tr> 
        <tr>
          <td>{{PI}}</td>
          <td>number:'1.0-0'</td>
          <!-- un digito entero sin decimales -->
          <td>{{PI | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number:'3.0-0'</td>
          <!-- 3 digitos enteros sin decimales -->
          <td>{{PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number:'.0-2'</td>
          <!-- todos los enteros con 2 decimales -->
          <td>{{PI | number:'.0-2'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>percent <a target="_blank" href="https://angular.io/api/common/PercentPipe">(info)</a></th>
        <th></th>
      <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{porcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent:'2.2-2'</td>
          <!-- Porcentaje con 2 decimales -->
          <td>{{porcentaje | percent:'2.2-2'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>currency <a target="_blank" href="https://angular.io/api/common/CurrencyPipe">(info)</a></th>
        <th></th>
      <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{salario}}</td>
          <td>currency</td>
          <td>{{salario | currency}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'EUR'</td>
          <td>{{salario | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'CAD':'symbol':'.0-0</td>
          <!-- :'symbol-narrow' muestra $ en lugar de CA$ -->
          <td>{{salario | currency:'CAD':'symbol':'.0-0'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead>
        <tr class="thead-light table-sm">
          <th>async <a target="_blank" href="https://angular.io/api/common/AsyncPipe">(info)</a></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{valorPromesa}}</td>
          <td>async</td>
          <td>{{valorPromesa | async}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>date <a target="_blank" href="https://angular.io/api/common/DatePipe">(info)</a></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{fecha}}</td>
          <td>date</td>
          <td>{{fecha | date}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'medium'</td>
          <td>{{fecha | date:'medium'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'short'</td>
          <td>{{fecha | date:'short'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date personalizado</td>
          <td>{{fecha | date:'MMMM - dd'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date en otro idioma</td>
          <td>{{fecha | date:'MMMM - dd':'':'en'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date en otro idioma</td>
          <td>{{fecha | date:'MMMM - dd':'':'fr'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>
            date: 'MMMM - dd':'':'{{idioma}}'
            <br>
            <button (click)="idioma='es'" class="mr-1 btn btn-primary">Espanol</button>
            <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Ingles</button>
            <button (click)="idioma='fr'" class="mr-1 btn btn-success">Frances</button>
          </td>
          <td>{{fecha | date:'MMMM - dd':'':idioma}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover m-0">
      <thead class="thead-light table-sm">
        <tr>
          <th>Pipes personalizados <a target="_blank" href="https://angular.io/guide/pipes#creating-pipes-for-custom-data-transformations">(info)</a></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre2}}</td>
          <td>capitalizado</td>
          <td>{{nombre2 | capitalizado:true}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>
            clave: {{activar}}
            <br>
            <button (click)="activar=!activar" class="btn btn-outline-primary">Activar/Desactivar</button>
          </td>
          <td>{{nombre | clave:activar}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Slice</h4>
  <hr>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
  </ul>


<h3>JSON <a target="_blank" href="https://angular.io/api/common/JsonPipe">(info)</a></h3> <hr>
<div class="row mb-5">
  <div class="col">
    <pre>{{heroe | json}}</pre>
  </div>
</div>

<h3 class="mt-4">Domseguro</h3> <hr>
<div class="row mb-5">
  <div class="col">

      <iframe width="560" 
              height="315" 
              [src]='videoUrl | domseguro' 
              frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
      </iframe>

  </div>
</div>
